<form class="border border-gray-300 rounded-lg p-4 shadow-sm space-y-4 bg-white" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 class="text-2xl font-semibold text-slate-900 mb-4">Filters</h2>

  <!-- Search Filter -->
  <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">Search</label>
    <app-search-bar
      class="block"
      [control]="formGroup.controls.search"
      placeholder="Search a product" />
  </div>

  <!-- Category Filter -->
  <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">Category</label>
    <app-select
      [control]="formGroup.controls.categories"
      [options]="categoriesAsOptions()" />
  </div>

  <!-- Price Range Filter -->
  <div class="space-y-2">
    <label class="text-sm font-medium text-gray-700">Price (€)</label>
    <app-range-input [group]="formGroup.controls.price" />
  </div>

  <!-- Action Buttons -->
  <div class="flex flex-col gap-2">
    <button appButton variant="default" type="submit" class="w-full">Apply</button>
    <button appButton variant="outline" type="button" [disabled]="!hasActiveFilters" (click)="resetFilters()" class="w-full">Reset</button>
  </div>
</form>
