<nav
  class="flex items-center px-6 md:px-16 lg:px-24 xl:px-32 py-4 border-b border-gray-300 bg-white relative transition-all">
  <a routerLink="/" class="inline-flex text-indigo-600 font-bold text-xl">
    Demo Angular
  </a>

  <button aria-label="Menu" class="sm:hidden">
    <ng-icon name="lucideMenu"></ng-icon>
  </button>

  <!-- <div id="mobile-menu"
    class="hidden absolute top-[60px] left-0 w-full bg-white shadow-md py-4 flex-col items-start gap-2 px-5 text-sm md:hidden">
    <a routerLink="/" class="block">Home</a>
    <a routerLink="/products" class="block">Products</a>
    <button
      class="cursor-pointer px-6 py-2 mt-2 bg-indigo-500 hover:bg-indigo-600 transition text-white rounded-full text-sm">
      Signin
    </button>
  </div> -->

  <div class="flex justify-between w-full">
    <div class="flex items-center gap-8">
      <a routerLink="/">Home</a>
      <a routerLink="/products">Products</a>
    </div>

    <div class="flex items-center gap-8">


      @if (user()) {
      <a routerLink="/cart" class="relative cursor-pointer">
        <ng-icon name="lucideShoppingCart"></ng-icon>
        <span class="absolute -top-2 -right-3 text-xs text-white bg-indigo-500 w-[18px] h-[18px] rounded-full text-center">
          {{cartItemsCount()}}
        </span>
      </a>
      <span>Hello {{user()?.email}}</span>
      <button appButton variant="outline" (click)="logout()">
        Disconnect
      </button>
      } @else {
      <button appButton variant="outline">
        <a routerLink="/signin">Sign in</a>
      </button>
      <button appButton>
        <a routerLink="/signup">Sign up</a>
      </button>
      }
    </div>
  </div>
</nav>
